<div class="card mb-4">
    <div class="card-image-wrapper">
        <img src="{{member.photoUrl || './assets/user.png' }}" alt="{{member.knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary m-1" routerLink='/members/{{member.username}}'><i class="fa fa-user"></i></button>
                <button class="btn btn-primary m-1"><i class="fa fa-heart"></i></button>
                <button class="btn btn-primary m-1"><i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user mr-2"></i>
        </h6>
        <p class="card-text text-muted text-center">{{member.knownAs}}</p>
    </div>
</div>