<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Dating App</a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive='active'>Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive='active'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive='active'>Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/errors" routerLinkActive='active'>Errors</a>
                    </li>
                </ng-container>
            </ul>


            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <img class="img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
                <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item" routerLink="/member/edit">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>

                </div>
            </div>
            <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocapitalize="off">
                <input name="usename" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class=" form-control me-2 " type="password" placeholder="Password ">
                <button class=" btn btn-success " type="submit ">Login</button>
            </form>
        </div>
    </div>
</nav>