<ng-container>
    <button class="btn btn outline-primary mr-3" (click)="get500Error()">Test 500 Error</button>
    <button class="btn btn outline-primary mr-3" (click)="get400Error()">Test 500 Error</button>
    <button class="btn btn outline-primary mr-3" (click)="get401Error()">Test 401 Error</button>
    <button class="btn btn outline-primary mr-3" (click)="get404Error()">Test 404 Error</button>
    <button class="btn btn outline-primary mr-3" (click)="get400ValidationError()">Test 400 Validation error</button>
    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul>
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
</ng-container>